@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-surface: #f1f5f9;
  --color-surface-hover: #e2e8f0;

  --color-primary: #0f172a;
  --color-secondary: #475569;
  --color-tertiary: #94a3b8;

  --color-accent: #3b82f6;
  --color-accent-soft: rgba(59, 130, 246, 0.12);
  --color-accent-border: rgba(59, 130, 246, 0.4);
}

:root {
  --foreground: #171717;
}

:root {
  --color-foreground: var(--foreground);
  --font-sans: "Inter", sans-serif;
}

.dark {
  --color-background: #0a0f1c;
  --color-surface: #121a2b;
  --color-surface-hover: #1a2540;

  --color-primary: #f8fafc;
  --color-secondary: #94a3b8;
  --color-tertiary: #334155;

  --color-accent: #3b82f6;
  --color-accent-soft: rgba(59, 130, 246, 0.12);
  --color-accent-border: rgba(59, 130, 246, 0.4);
}

.theme-transition *,
.theme-transition *::before,
.theme-transition *::after {
  transition:
    background-color 0.25s ease,
    color 0.25s ease,
    border-color 0.25s ease;
}
